// Place all the styles related to the api/annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.annotation p{

  padding: 0px 10px;
  font-size: 22px;
  width: 100%;
  font-weight: lighter;
}

.annotation {
  margin-left: 20px;
  border-left: 4px solid #99A7EE;
}

.create-button {
  width: auto;
  height: 30px;
  border: 2px solid black;
  padding: 3px;
  margin-left: 10px;
}


.DraftEditor-editorContainer{

}

.public-DraftEditor-content {
  width: 100%;
  min-height: 150px;
  height: 100%;
  background-color: inherit;
  padding: 5px;
  padding-bottom: 10px;
}

.public-DraftStyleDefault-block:focus {
  border: 2px solid #99A7EE;
}

.new-annotation-header {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 10px;
}


.text-editor {
  padding: 10px;
  width: 75%;
  margin: auto;
}

.draft-field {
  min-height: 150px;

  background-color: #F5F5F5;
}

.show-annotation {
  padding: 10px;
  width: 80%
}

.toolbar {
  display: flex;
  justify-content: flex-start;
}

.toolbar span {
  margin: 0px 10px;
  cursor: pointer;
}


.annotation-submit {
  margin: 15px 0px;
  width: 90px;
  height: 35px;
  background-color: white;
  border: 2px solid #0ECB27;
  color: #0ECB27;
  text-align: center;

}

.annotation-submit:hover {
  background-color: #0ECB27;
  color: white;
  transition: .2s;
}

.annotation-controls {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  padding: 5px;
  width: 90px;
  height: 35px;
  background-color: white;
  border: 2px solid red;
  color: red;
  text-align: center;
}

.cancel-button {
  padding: 5px;
  width: 90px;
  height: 35px;
  background-color: white;
  border: 2px solid red;
  color: red;
  text-align: center;
  margin: 15px 0px;
}

.delete-button:hover {
  background-color: red;
  color: white;
  transition: .2s;
}

.edit-button {
  margin-left: auto;
  padding: 5px;
  width: 90px;
  height: 35px;
  background-color: white;
  border: 2px solid black;
  text-align: center
}

.edit-button:hover {
  transition: .2s;
  background-color: #CCCCCC;
}

.annotation-error {
  color: red;
}
