// Place all the styles related to the api/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #F7F7F7;
}

.tracks-index {
  margin: auto;
  margin-top: 50px;
  width: 750px;
  background-color: #F7F7F7;
  border-top: 6px solid black;
}

.track-listing {
  display: flex;
  justify-content: flex-start;
  padding: 5px 10px;
  border-bottom: 1px solid #CCCCCC;
}

.track-listing:hover {
  transition: .2s;
  background-color: rgb(233, 233, 233);
}




.track-rank {
  width: 40px;
  text-align: center;
  align-self: center;
}

.track-rank h1 {
  margin: auto;
}

.track-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: center;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

.top h1 {
  font-size: 30px;

}

.top span {
  font-size: 18px;
}

.track-listing img {
  height: 35px;
  width: 35px;
  display: block;
  align-self: center;
}

.top img {
  height: 75px;
  width: 75px;
  display: block;
}
