// Place all the styles related to the api/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #F7F7F7;
}

.tracks-index {
  margin: auto;
  margin-top: 50px;
  width: 750px;
  background-color: #F7F7F7;
  border-top: 6px solid black;
}

.track-listing {
  display: flex;
  justify-content: flex-start;
  padding: 5px 10px;
  border-bottom: 1px solid #CCCCCC;
}

.top .track-rank {
  font-size: 28px;
  text-align: center;
}

.track-rank {
  padding-top: 10px;
}

.track-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.top h1 {
  font-size: 30px;
}

.top span {
  font-size: 18px;
}
