.new-song-form-container h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}


.new-song-form {
  // background-color: blue;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;

}

.new-song-form label {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
}

.new-song-form input {
  font-size: 20px;
  background-color: white;
  border: 2px solid #CCCCCC;
  padding: 2px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.input-field {
  width: 300px;
}

.new-song-form input:focus {
  border: 2px solid #99A7EE;
}
.new-song-form textarea:focus {
  border: 2px solid #99A7EE;
}

.new-song-form textarea {
  background-color: white;
  padding: 15px;
  width: 60%;
  height: 400px;
  border: 2px solid #CCCCCC;
  margin-left: 15px;
  margin-bottom: 20px;
}

.new-song-form .form-submit {
  width: 125px;
  border: 2px solid black;
  padding: 3px;
  text-align: center;
}

.new-song-form .form-submit:hover {
  transition: .2s;
  background-color: #CCCCCC;
}

.preview-image {
  margin-left: 15px;
  height: 150px;
  width: 150px;
}

.errors {
  color: red;
  // padding-top: 20px;
  padding-left: 15px;
}

#upload {
  padding: 5px;
  display: flex;
  justify-content: center;
}
