/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 * {
         /*Reset's every elements apperance*/
         background: none repeat scroll 0 0 transparent;
         border: medium none;
         border-spacing: 0;
         color: inherit;
         font-family: sans-serif;
         font-size: 16px;
         /*font-weight: normal;*/
         line-height: 1.42rem;
         list-style: none outside none;
         margin: 0;
         padding: 0;
         text-align: left;
         text-decoration: none;
         text-indent: 0;
         box-sizing: border-box;
 }


*:focus {
    outline: none;
}

a:hover {
  cursor:pointer;
}
