body .login-modal {
  width: 450px;
  height: auto;

  margin: auto;
  margin-top: 50px;
  background-color: #E9E9E9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;

}

button {
  cursor: pointer;
}

.login-modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
  font-size: 20px;
  margin-top: 10px;

}



.field {
  font-size: 20px;
  background-color: white;
  border: 2px solid #CCCCCC;
  padding: 2px;
  margin: 5px 0px;
}

.field:focus {
  border: 2px solid #99A7EE;
}

.login-modal .auth-button {
  width: auto;
  height: 30px;
  border: 2px solid black;
  padding: 3px;
}

.login-modal .auth-button:hover {
  transition: .2s;
  background-color: #CCCCCC;
}

.left-item {
  width: 93%;

  color: #99A7EE;
  border-bottom: 2px solid #99A7EE;
}

.nav-header{
  display: flex;
  justify-content: space-between;
  background-color: #FFFF64;
  height: 40px;
  align-items: center;
}

.nav-header *{
  padding: 0 8px;
}

.auth-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;


}

.error{
  display: block;
}

.logo {

  width: 300px;
  text-align: center;
  text-shadow: -3px 2px black;
  color: #FFFF64;
  font-size: 25px;
}

.search {
  width: 300px;
}

.auth-buttons {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav-button:hover {
  border-bottom: 3px solid rgb(236, 53, 100);
  transition: .3s;

}

.nav-button {
  padding-top: 3px;
  border-bottom: 3px solid #FFFF64;
}

.modal-link {
  color: #9A9A9A;
  text-decoration: underline;
}

.header-navigation {
  background-color: black;
  height: 38px;
  color: white;
  display: flex;
  justify-content: center;
  color: white;
}

.header-navigation a {
  color: white;
  margin: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.header-navigation a + a:before {
  content: " | ";
  padding-left: 5px;
}
