.voting {
  display: flex;
  color: #9A9A9A;
  width: 40%;
  margin: 10px 0px;
}

.downvote {
  margin-right: 10px;
}

.upvote {
  margin-left: 10px;
}
.upvote:hover {
  color: #22C13E;
  transition: .1s
}

.downvote:hover {
  color: red;
  transition: .1s
}
