.voting {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

.downvote {
  margin-right: 10px;
}

.upvote {
  margin-left: 10px;
}
.upvote:hover {
  color: #22C13E;
  transition: .1s
}

.downvote:hover {
  color: red;
  transition: .1s
}
