.voting {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}

.upvote:hover {
  color: #22C13E;
  transition: .1s
}

.downvote:hover {
  color: red;
  transition: .1s
}
